<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="img/lang-logo.png">      
    </a>
    <h1>ОСББ</h1>
    <h3>в м.Рівне по вул.Міцкевича 32</h3>
    <p>Статистика та моніторинг витрат користувачами будинку: газу, електроенергії, гарячої та холодної води...</p>
    
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Графіки показують витрати газу, електроенергії чи води по всіх <a href="/users">квартирах</a>, а також персонально по кожному власнику квартири!
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <canvas id="appartment-chart-gas" width="1200" height="400"></canvas>
      <canvas id="appartment-chart-energy" width="1200" height="400"></canvas>
      <canvas id="appartment-chart-wather" width="1200" height="400"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <!-- <div id="displayAll"></div> -->
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to OSBB App, either using Git or by using <a href="https://github.com/heroku/node-js-getting-started">OSBB App Button</a> on the repository.</li>

        <li>When OSBB App received the source code, it fetched all the dependencies in the <a href="https://github.com/heroku/node-js-getting-started/blob/master/package.json">package.json</a>, creating a deployable slug.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>      
      <ul>
        <li>If you are following the <a href="/">Getting Started</a> guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the OSBB App Button, then in a command line shell, run:</li>
        <ul>
          <li><code>git clone https://github.com/heroku/node-js-getting-started.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd node-js-getting-started</code> - change directory into the local source code repository</li>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the OSBB App app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="/">deploy changes</a> to OSBB App</li>
        </ul>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with OSBB App, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>

<% include ../partials/scripts.ejs %>

</body>
</html>
